<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style2.css">
    <title>Top Colors</title>
</head>
<body>
    <header>
        <h1>Welcome to the image analyzer</h1>
        <p>
            Upload an image, and this site will tell you the top 10 most used colors along with their hex codes.
            If two colors appear the same number of times, both will be shown.
        </p>
    </header>

    <form action="/" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" required>
        <br>
        Select a Color Code:
        <input type="radio" name="color_code" value="rgb">RGB
        <input type="radio" name="color_code" value="hex">Hex
        <br>
        <input type="submit">
    </form>

    <main>
        <br>
        {% for i in range(colors_list|length) %}
            <div class="pair">
                {% if code != 'hex' %}
                    <div class="color-box" style="background-color: rgb{{ colors_list[i] }}"></div>
                    <div class="color-box-value">{{ i+1 }}: rgb{{ colors_list[i] }}</div>
                {% else %}
                    <div class="color-box" style="background-color: #{{ colors_list[i] }}"></div>
                    <div class="color-box-value">{{ i+1 }}: #{{ colors_list[i] }}</div>
                {% endif %}
            </div>
        {% endfor %}
    </main>
</body>
</html>
